-#  Link to the "Next" page
-#  available local variables
-#    url:           url to the next page
-#    current_page:  a page object for the currently displayed page
-#    num_pages:     total number of pages
-#    per_page:      number of items to fetch per page
-#    remote:        data-remote
- label = raw(t 'views.pagination.admin.next')
%li{class: (:disabled if current_page.last?)}
  = link_to_unless current_page.last?, label, url,
    rel: :next, remote: remote, class: :next do
    %span= label
