%fieldset
  = f.input :cached_slug
  = f.input :published
<%= "  = f.input :nav_published\n" if options.type == 'section' -%>
<% attributes.each do |attribute| -%>
<%= "  = f.input :#{attribute.name}\n" unless attribute.locale -%>
<% end -%>
