= form_for resource_form_object, url: admin_inline_images_path do |f|
  = f.file_field :image, multiple: true
  = check_box_tag :gallery, nil, @gallery, style: 'display: none'
  = text_area_tag :html_insert, nil, style: 'display: none'
  .submit= f.submit 'Загрузить'
  #progress
    .bar
  #images
