* {margin: 0; padding: 0}
html, body, div, span, h1, h2, p, a, i, em, b, strong, img {display: block}
body {width: 100%; color: #000; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 0.625em; line-height: 1; background-color: #fff}
h1 {color: #000; margin: 0 0 0.6em 0; font: normal 250%/1.1 Tahoma, Arial, Helvetica, sans-serif}
a {color: #009fe3; text-decoration: underline}
a:hover, a:active {color: #f7a900}
p {margin: 0 0 1em; font-size: 160%; line-height: 1.2}
div {padding: 4% 5%}
