%fieldset
  = f.input :name
<% if options.type == 'section' -%>
  = f.input :nav_name
<% end -%>
  = f.input :cached_slug
  = f.input :published
<% if options.type == 'section' -%>
  = f.input :nav_published
<% end -%>
<% attributes.each do |attribute| -%>
  = f.input :<%= attribute.name %>
<% end -%>
%fieldset
  %legend= t 'labels.admin.legend.seo'
  = f.input :meta_title
  = f.input :meta_description, as: :string
