- resource_title
- breadcrumbs resource_name
- breadcrumbs label: collection_name,
    url: polymorphic_path([:admin, resource.class.name.pluralize.underscore])

= resource_header

= simple_form_for resource_form_object, html: {class: 'form-horizontal'} do |f|
  %fieldset
    = f.input :email
    = f.input :roles, collection: resource_class.valid_roles, as: :check_boxes, checked: resource.roles, label_method: proc {|l| resource_class.human_attribute_name(l) }

  .form-actions
    = f.button :submit, resource_button_value_main, class: bs_btn(:primary)
    = link_to resource_button_value_cancel,
        polymorphic_path([:admin, resource.class.name.pluralize.underscore]),
        class: bs_btn(:default)
