- collection_title
= collection_header

= render 'shared/admin/search_form'

- if collection.present?
  - pagination = capture do
    = paginate collection, theme: :admin

  - list = capture do
    = pagination
    %table.table.table-striped
      %thead
        %tr
          %th= admin_sortable_column :email, resource_class.human_attribute_name(:email)
          %th= resource_class.human_attribute_name(:roles)
          %th.icon
          %th.check
      %tbody
        - collection.each do |object|
          %tr
            %td= object.email
            %td= object.translated_roles
            %td= object_link_edit(object)
            %td= admin_cb(object)
    = pagination

  - if controller.respond_to?(:batch_action)
    = batch_actions_tag do
      = list
  - else
    = list
