%fieldset
  .hidden
    = f.input :behavior, as: :select,
       collection: resource.class::BEHAVIORS.map { |b| [resource.class.human_behavior_name(b), b]},
       include_blank: false
  = f.input :cached_slug
  = f.input :published
  = f.input :nav_published
