* {margin: 0; padding: 0}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font-family: inherit; vertical-align: baseline; background: transparent}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
:focus, :active {outline: 0}
sup {vertical-align: baseline; position: relative; top: -0.4em; font-size: 80%}
sub {vertical-align: baseline; position: relative; bottom: -0.4em; font-size: 80%}
b, strong {font-weight: bold}
i, em {font-style: italic}
pre {white-space: pre; white-space: pre-wrap; word-wrap: break-word}
small {font-size: 75%}
img {border: 0; -ms-interpolation-mode: bicubic}
button, input, select, textarea {font-size: 100%; margin: 0; vertical-align: baseline}
button, input {line-height: normal}
button, input[type="button"], input[type="reset"], input[type="submit"] {overflow: visible}
textarea {overflow: auto; vertical-align: top}
table {border-spacing: 0}
ul li, ol {list-style-type: none}
body {background: #efefef; width: 98%; margin: 1%; font-size: 16px; line-height: 1; font-family: Tahoma, Arial, Helvetica, sans-serif; color: #000}
a {color: #009fe3; text-decoration: underline}
a:hover {color: #f7a900}
h1 {margin: 1.21em 0 0.45em; font: normal 400%/1.1 Tahoma, Arial, Helvetica, sans-serif}
h2 {margin: 1.4em 0 0.5em 0; font: normal 250%/1.1 Tahoma, Arial, Helvetica, sans-serif}
h3 {margin: 1.8em 0 0.9em 0; font: normal 175%/1.1 Tahoma, Arial, Helvetica, sans-serif}
h4 {margin: 2.5em 0 0.9em 0; font: normal 131.25%/1.1 Tahoma, Arial, Helvetica, sans-serif}
h5 {margin: 2.15em 0 1.18em; font: normal 131.25%/1.1 Tahoma, Arial, Helvetica, sans-serif}
p {margin: 0 0 1.55em 0; line-height: 1.48}
p.date {color: #999}
p.lead {font-style: italic}
hr, .hr {border: 0; width: 100%; font-size: 0; height: 4px; clear: both; margin-bottom: 17px;  background: url(/assets/hr-bg.png) repeat-x 0 0}
ul {list-style: none; margin: 0 0 1.5em 0; padding: 0 0 0 0}
ol {list-style: decimal; margin: 0 0 1.5em 0; padding: 0 0 0 30px}
li {margin: 0 0 13px 0; padding: 0; line-height: 1.42}
li ul, li ol {margin-top: 13px}
table {padding: 0; border-collapse: separate; border-spacing: 0; width: 100%; margin: 0 0 1.55em 0}
caption {padding: 5px 0 10px; font: normal 175%/1 Tahoma, Arial, Helvetica, sans-serif; text-align: left}
tr, th, td {vertical-align: top}
th {padding: 19px 33px 23px 33px; line-height: 1.05; font-weight: normal; vertical-align: bottom}
td {padding: 11px 33px 14px 33px; line-height: 1.52}
table {border: 1px #ffffff solid; box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2); border-radius: 5px}
table th {background-color: #fff}
table th a:link {color: #000}
table th a:hover {color: #f7a900}
table tr:first-child th:first-child, table tr:first-child td:first-child {border-radius: 5px 0 0 0}
table tr:first-child th:last-child, table tr:first-child td:last-child {border-radius: 0 5px 0 0}
table td {border-bottom: 1px #fff solid}
table tr:last-child td {border-bottom: none}
table tr.odd td {background: rgba(255,255,255,0.25)}
table.blank {border: none; box-shadow: none; border-radius: 0}
table.blank th {background-color: transparent}
table.blank th a:link {color: #009fe3}
table.blank th a:hover {color: #f7a900}
table.blank tr:first-child th:first-child, table.blank tr:first-child td:first-child, table.blank tr:first-child th:last-child, table.blank tr:first-child td:last-child {border-radius: 0}
table.blank td {border-bottom: none}
table.blank tr.odd td {background: transparent}
ul > li {background: url(/assets/li.png) 0 0.6em no-repeat; padding: 0 0 0 18px}
ol li {list-style-type: decimal}
ol ul > li {list-style-type: none}
.note-block {padding: 18px 35px 26px; margin: 2.65em 0 3.35em 0; overflow: hidden}
.note-block .captainer {border: 1px #e6e6e6 solid; box-shadow: none; font-size: 75%}
.note-block .captainer img {border-bottom: 1px #e6e6e6 solid}
.note-block .captainer .caption {padding: 8px 19px 13px}
.white-block {background-color: #fff; border-radius: 7px; box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2)}
img {border-radius: 5px; border: 1px #ffffff solid; box-shadow: 0 1px 1px 0 rgba(0,0,0, 0.25); max-width: 100%; height: auto}
.captainer {position: relative; background-color: #fff; border:1px #fff solid; box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2); border-radius: 5px; margin-bottom: 1.55em}
.captainer img {border-radius: 0; border: none; box-shadow: none}
.captainer .caption {position: absolute; left: 0px; right: 0px; top: auto; bottom: 0; padding: 14px 33px 23px; line-height: 1.5}
.gallery {padding: 20px; margin: 42px 0; font-size: 75px; overflow: hidden; background-color: #fff; border-radius: 7px; box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2)}
.gallery img {width: auto; height: 75px; margin: 0 20px 20px 0}
iframe {margin: 1.55em auto}
body :first-child {margin-top: 0}
