!!! 5
%html#no-js{lang: 'ru'}
  %head
    %meta{charset: 'utf-8'}
    / = airbrake_javascript_notifier
    %title= show_title || '<%= application_name.camelize %>'
    %meta{content: '', name: 'description'}
    %meta{name: 'viewport', content: 'width=1032'}
    %link{href: '/favicon.ico', rel: 'shortcut icon'}
    = stylesheet_link_tag :application, media: 'all'
    :javascript
      document.getElementById('no-js').id = 'js';
    = csrf_meta_tags
  %body
    = yield
    = javascript_include_tag :application
    = yield :javascript
