#progress {
  width: 450px;
  height: 20px;
  border: 2px solid black;
  display: none;

  .bar {
    width: 0;
    height: 20px;
    background: none repeat scroll 0 0 green;
  }
}

#image{ display: none; }
