!!! 5
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}
    %title= @title
    %meta{:name => "viewport", :content => "width=1024"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    = stylesheet_link_tag :error, :media => "all"
  %body
    #container
      = yield
